/** @file main.css */

/** main */
body { text-align: center; overflow-y: scroll; }

#main { width: 960px; text-align: left; margin: 0 auto 20px; position: relative; }

h1 { font-size: 1em; margin: 0; line-height: 1em; }

#portal_box {
	margin: 16px 0;
	position: relative;
	width: 960px; height: 480px;
	}
	
#portal { box-shadow: 2px 2px 2px rgba(0,0,0,.5); }

#scoreboard {
	color: #eee;
	font-family: monospace;
	font-weight: bold;
	position: absolute;
	top: 10px; left: 10pt;
	}

#state { 
	background: url('../state.png') no-repeat;
	background-position: center top;
	position: absolute; top: 100px; left: 300px;
	width: 300px; height: 75px; 
	}
.running #state { display: none; }
.paused  #state { display: block; background-position: center center; }
.stopped #state { display: block; background-position: center bottom; }

#options { text-align: center; float: right; }

/** console */
#console {}
#logger_output {
	background-color: #333;
	color: #eee;
	padding: 3px;
	border: 1px solid #aaa;
	font-family: consolas, monospace;
	font-size: 9pt;
	white-space: pre;
	height: 300px;
	overflow: scroll;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5) inset;
	margin: 0;
	}
#logger_output li { border-bottom: 1px solid #555; }

form input[type='text'] { vertical-align: top; display: inline; width: 400px; }
form button 			{ vertical-align: top; }
